.about-class {
  font-size: 1.5rem;
  color: #000214;
  font-weight: 400;
  font-style: inherit;
}

.about-mision-vision{
  font-size: 3rem;
  color: #112c44;
  font-weight: 500;
  font-style: italic;
}
